.contact-container {
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
}

.contact-container h2 {
  text-align: center;
  font-size: 28px;
   font-weight: bold;
  color: #e30016;
  margin-bottom: 10px;

}

.contact-container .subtitle {
  text-align: center;
  margin-bottom: 30px;
  color: #666;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.contact-form, .contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.submit-btn {
  background: #d50000;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.submit-btn:hover {
  background: #b30000;
}

.contact-info h3 {
  margin-bottom: 10px;
  color: #d50000;
}

.contact-info p {
  margin: 6px 0;
  font-size: 15px;
}

.map {
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.map-image {
  width: 100%;
  height: 250px;
  object-fit: cover;   /* makes sure the image fills nicely */
  border-radius: 10px;
  display: block;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.phone-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 16px;
}

.phone-row a {
  color: #e30016;
  text-decoration: none;
  font-weight: 500;
}

.phone-row a:hover {
  text-decoration: underline;
}

.phone-row .divider {
  margin: 0 10px;
  color: #777;
  font-weight: bold;
}

/* Mobile responsive */
@media (max-width: 600px) {
  .phone-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .phone-row .divider {
    display: none;
  }
}

/* .email-row {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 16px;
} */

.email-row a {
  color: #3b3a3a;
  text-decoration: none;
  /* font-weight: 500; */
  word-break: break-all;
}

.email-row a:hover {
  color: #e30016;
    font-weight: 500;
}

/* Desktop: make it single line */
@media (min-width: 768px) {
  .email-row {
    flex-direction: row;
    gap: 20px;
  }
}

/* Mobile Friendly */
@media (max-width: 600px) {
  .email-row {
    font-size: 14px;
  }
}
.heading{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #e30016;
  margin-bottom: 15px;
}
